.navbar-fixed,
.navbar {
  background: $navbar-color-main;
  height: $navbar-height / 1.5;
}
.navbar {
  line-height: $navbar-height / 1.5;
  position: relative;
  z-index: 1000
}
.navbar-fixed .navbar {
  left: 0;
  position: fixed;
  top: 0;
  width: 100%
}
.navbar-container {
  padding: 0 $col-gutter / 2;
  width: 100%
}
.navbar-brand {
  color: $navbar-color-lighter;
  font-size: .9rem;
  font-weight: bold;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: uppercase
}
.navbar-mobile-toggle,
.navbar-mobile-close {
  background: $navbar-color-dark;
  border-radius: 6px;
  border: 2px solid $navbar-color-dark;
  color: $navbar-color-lighter;
  height: $navbar-height / 2.5;
  line-height: 1;
  padding: 6px;
  position: absolute;
  transition: all .3s;
  right: $col-gutter / 2;
  top: $navbar-height / 7.5;
  
  &:hover {
    background: none;
  }
}
.navbar-mobile-toggle {
  display: block;

  &:hover {   
    &:after {
      background: $navbar-color-light;
      box-shadow: 0 6px 0 0 $navbar-color-light, 0 12px 0 $navbar-color-light;
    }
  }

  &:after {
    background: $navbar-color-lighter;
    box-shadow: 0 6px 0 0 $navbar-color-lighter, 0 12px 0 $navbar-color-lighter;
    content: '';
    display: block;
    height: 3px;
    position: relative;
    transition: all .3s;
    width: $col-gutter / 2
  }
}
.navbar-mobile-close {
  display: none;
  font-size: 20px;
  padding: 3px 6px;
  text-decoration: none;

  &:after {
    content: 'x';
    display: block;
    height: 3px;
    font-weight: bold;
    position: relative;
    text-align: center;
    transition: all .3s;
    width: $col-gutter / 2
  }
}
.navbar-links,
.navbar-dropdown {
  list-style: none;
  margin: 0;
  padding: 0
}
.navbar-links {
  background: $navbar-color-darker;
  display: none;
  left: 0;
  position: absolute;
  top: 100%;
  width: 100%;

  &:target {
    display: block;

    & + .navbar-mobile-toggle {
      display: none;

      &:after {
        display: none
      }
    }

    & ~ .navbar-mobile-close {
      display: block
    } 
  }
}
.navbar-dropdown {
  background: $navbar-color-dark;
  display: none;
}
.navbar-dropdown-toggle-target {
  display: none;

  &:target + .navbar-links {
    display: block;
    
    .navbar-dropdown {
      display: block;
    }

    & + .navbar-mobile-toggle {
      display: none;

      &:after {
        display: none
      }
    }

    & ~ .navbar-mobile-close {
      display: block
    }
  }

}
.navbar-link,
.navbar-featured-link,
.navbar-dropdown-link,
.navbar-dropdown-toggle {
  color: $navbar-color-lighter;
  display: block;
  font-size: .85rem;
  padding: 0 $col-gutter / 2;
  letter-spacing: 2px;
  text-decoration: none;
  transition: all .3s;

  &:hover {
    color: $navbar-color-light
  }
}
.navbar-dropdown-toggle:after {
  content: '⤵';
  display: inline-block;
  font-weight: bold;
  margin-left: 4px;
  position: relative;
  top: 2px
}
@media #{$lg-up} {
  .navbar-fixed,
  .navbar {
    height: $navbar-height;
  }
  .navbar {
    line-height: $navbar-height;
  }
  .navbar-mobile-toggle,
  .navbar-mobile-close {
    display: none
  }
  .navbar-container {
    margin: auto;
    width: $lg-min
  }
  .navbar-links {
    background: none;
    display: block;
    float: right;
    height: $navbar-height;
    position: relative;
    width: auto;

    li {
      display: inline-block;
      margin: 0 0 0 $col-gutter / 2;
      padding: 0;
      position: relative
    }
  }
  .navbar-link,
  .navbar-featured-link,
  .navbar-dropdown-link,
  .navbar-dropdown-toggle {
    height: $navbar-height;
  }
  .navbar-dropdown-toggle-target:target + .navbar-links ~ .navbar-mobile-close {
    display: none
  }
  .navbar-featured-link {
    background: $navbar-color-darker;
    border: 2px solid $navbar-color-darker;
    border-radius: 6px;
    height: $navbar-height / 2;
    line-height: ($navbar-height / 2) - .2rem;

    &:hover {
      background: none;
    }
  }
  .navbar-dropdown {
    background: $navbar-color-dark;
    border-radius: 0 0 6px 6px;
    display: none;
    left: 0;
    line-height: 1;
    margin-top: -1px;
    padding: .5rem 0;
    position: absolute;
    top: 100%;
    white-space: nowrap;

    li {
      display: block;
      margin: 0;
      padding: 0;
    }
  }
  .navbar-dropdown-link {
    height: auto;
    line-height: 1rem;
    padding: .5rem 1rem;
  }
}
