$navbar-height:  5rem !default;

$navbar-color-lighter: #ffffff !default;
$navbar-color-light:   #a8e1ff !default;
$navbar-color-main:    #1a84bc !default;
$navbar-color-dark:    #1F6D96 !default;
$navbar-color-darker:  #136089 !default;
